@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
    background-color: #111;
    --lightgray: #F2F2F2;
    --purple: #BA60FE;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
}

#aboutus {
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
    color: var(--lightgray);
    justify-content: center;
    align-items: center;

}

#whyus {
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
    color: var(--lightgray);
    justify-content: center;
    align-items: center;
}

#purpleus {
    color: var(--purple);
    margin-left: 20px;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

button {
    background-color: var(--purple);
    color: var(--lightgray);
    font-family: Oswald;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 1px;
}

#orbit {
    position: relative;
}

#dot {
    height: 20px;
}

.aboutheading {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin-bottom: 30px;
}

#abouttext {
    width: 40rem;
}

.aboutlist {
    align-items: center;
    margin-bottom: 20px;
    /* Add your desired margin-top value here */
}

#aboutlist-left {
    display: flex;
    flex-direction: row;
}

#aboutlist-right {
    display: flex;
    flex-direction: row;
}

#aboutlist-left p {
    padding: 20px 40px 20px 20px;
}

#aboutlist-right p {
    padding: 20px 40px 20px 20px;
}

.square {
    align-self: center;
    width: 10px;
    height: 10px;
    background-color: var(--purple);
    /* Replace with your desired color */
}


#aboutimg {
    width: 40rem;
    margin: 3rem;
}


.whytext p {
    margin-bottom: 50px;
}

#whyimg {
    width: 60rem;

}

#whyus p {
    width: 30rem;
}

#explore {
    display: flex;
    justify-content: flex-end;

    margin-right: -300px;
    overflow: hidden;
}

.explore {
    position: absolute;
    top: 0;
    font-weight: 700;
    font-size: 7rem;

    color: #202020;
    text-orientation: upright;
    /* For modern browsers */
    transform: rotate(-90deg);
    /* For older browsers */

}

.wrapper {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

/* SUBCRIBE-SECTION */
.rahgawi-subscribe {
  /* border: 2px solid #f2f2f2; */
  display: flex;
  justify-content: center;
  
}


.rahgawi-subcribe-contact {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  margin-right:6rem;
  padding: 6rem;
}  

.rahgawi-subscribe-newsletter-text {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 6rem;
}
.rahgawi-subscribe-newsletter-text h1 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

#newsletter {
  color: rgba(149, 101, 203, 0.916);
  font-size: 47px;
  margin-bottom: 1rem;
}
#lorem {
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

.rahgawi-subscribe-form {
  /* border: 2px solid red; */
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#name-input {
  width: 100%;
  padding: 1rem 1rem 1rem;
  border-color: rgba(149, 101, 203, 0.916);
  font-weight: bolder;
 
}
#mail-input {
  min-width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 1rem 1rem;
  border-color: rgba(149, 101, 203, 0.916);
  font-weight: bolder;
  
}
#message-text {
  padding: 1rem 1rem;
  border-color: rgba(149, 101, 203, 0.916);
  font-weight: bolder;
  
}

.rahgawi-subscribe-form button{
    background-color:rgba(149, 101, 203, 0.916);
    color: white;
    padding:1rem;
    margin-top: 4rem;
    margin-left: 35%;
    border: none;
    font-weight: bolder;
}

/* FOOTER-SECTION */

.footer-section{
    background-color:#bA60fe;
    
    color: white;
    display: flex;
    align-items: center;
    height: 70vh;
    justify-content: space-around;
}

li{
    list-style: none;
}

.social-icons{
    border:2px green;
}

.About ul{
    background-color: #bA60fe;
}
.About li{
    background-color: #bA60fe;
}

.services ul{
    background-color: #bA60fe;
}
.services li{
    background-color: #bA60fe;
}

 .social #social-input{
    border: 2px solid white;
    padding-right: 6rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
   
}

/* Video Section - Start now */
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--lightgray);
  width: 100%;
  overflow: hidden;
  margin: 0rem 1.25rem 6.25rem 1.25rem;
}
.video-section-left-container {
  display: flex;
  font-weight: bold;
  align-items: center;
  rotate: -90deg;
  gap: 1rem;
  text-align: end;
  flex-wrap: nowrap;
}
.video-section-right-container {
  display: flex;
  font-weight: bold;
  rotate: -90deg;
  gap: 2rem;
  text-align: start;
}
.video-section-text-wrapper-right {
  display: flex;
  flex-direction: column-reverse;
  text-align: start;
}

.video-section-text-wrapper-left {
  display: flex;
  flex-direction: column-reverse;
}
.video-section-arrow-down {
  rotate: 180deg;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--lightgray);
  font-size: 2rem;
  animation: arrowDown 1s infinite;
}

.video-section-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* Review Section - What users think */
.review-section {
  margin: 0rem 1.25rem 6.25rem 1.25rem;
}

.review-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  text-align: center;
  margin: 2rem 0rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 300;
}

.review-section-header h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--lightgray);
}

.review-section-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.review-section-card {
  max-width: 20rem;
  /* margin: auto; */
  text-align: center;
  color: var(--lightgray);
  column-gap: 1rem;
  margin-bottom: 6.25rem;
}

.review-section-rating {
  color: var(--purple);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.review-section-card img {
  margin-bottom: 1rem;
}
.review-section-card h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.review-section-card p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.review-section-text-content {
  display: flex;
  gap: 1rem;
}

.review-section-quote-end {
  display: flex;
  align-items: flex-end;
}
.review-section-arrows {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
}
.review-section-arrow-left {
  rotate: 180deg;
}

.challenges {
    color: white;
}

.challenges_vertical {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.challenges_verticaltext1 {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 10px;
}

.challenges_verticaltext2 {
    writing-mode: vertical-lr;
    font-size: 10px;
}

.challenges_central_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    background: url("./images/Oval.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 50vh
}

.challenges_central_text h2 {
    background-color: transparent;
    text-align: center;
}

#challenges_rectangle {
    fill: white;
    color: white;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.challenges_horizontal {
    display: flex;
    justify-content: space-around;
    color: rgb(41, 39, 39);
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#challenges_arrow {
    transform: rotate(90deg);
}

.find {
    color: white;
    margin-bottom: 50px;
}

.find_title {
    display: flex;
    justify-content: space-around;
}

.find_course {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#find {
    font-size: 45px;
}

#inside_number {
    color: var(--purple);
}

.find_edition {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#year {
    font-size: 20px;
}

.find_cards {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.find_card {
    border: 2px solid;
    border-color: white;
    max-width: 200px;
    margin-top: 50px;
}

.find_card h4 {
    font-size: 20px;
}

.inside_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

#find_number {
    color: black;
    background-color: white;
    font-weight: 600;
}

#find_button {
    color: white;
    padding: 10px;
    background-color: var(--purple);
    font-family: 'Oswald',  sans-serif;
}

#find_hr {
    width: 30px;
    border-color: var(--purple);
}

.find_more {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.card_text {
    font-size: 12px;
}